@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
:root{

    --celeste100: #8ecae6;
    --celeste200: #219ebc;
    --celeste300 : #023047;
    --naranja100: #ffb703;
    --naranja200: #fb8500;
    --verde100: #83c5be;
    --verde200: #006d77;
    --verde300: #264653;
}

body{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--celeste300);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--naranja200);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}

.linkT{
    color: var(--naranja200);
    text-decoration: none;
}

.contenedorGeneral{
    width: 100%;
    min-height: 100%;
    background-color: var(--celeste300);
    color: var(--naranja100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorForms{
    min-height: 80vh;
    display: flex;
}

.contenedorClientes,.contenedorEmpleados{
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clientesForm,.empleadosForm{
    width: 20vw;
    display: flex;
    flex-direction: column;
    line-height: 2;
    gap: 1rem;
}

label{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

input{
    border: none;
    outline: none;
    font-family: 'Montserrat';
    font-weight: 600;
    padding-left: .3rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn{
    border: none;
    width: 10rem;
    height: 2rem;
    background-color: var(--celeste100);
    color: var(--celeste300);
    font-weight: 800;
    text-transform: lowercase;
    transition: .3s;
}

.btn:hover{
    background-color: var(--celeste200);
    cursor: pointer;
}

.mensajeCli ,.mensajeEmp{
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 1rem 0 1rem;
    border-bottom: 2px solid var(--verde200);
}

.contenedorListas{
    width: 90vw;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
}

.contenedorBuscador{
    display: flex;
    gap: .5rem;
}

.menuListas{
    gap: .5rem;
}

.contenedorBtnLitados{
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
}

#listado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    margin-top: 1rem;
    border-collapse: collapse;
    border: 1px solid var(--celeste100);
    font-size: 1.4678rem;
}

th{
    padding: .3rem;
    text-align: center;
    border: 1px solid var(--celeste100);
}

td{
    padding: .3rem;
    text-align: center;
    border: 1px solid var(--celeste100);
}

